.login-background {
	background-image: url("body.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: -1;
}

.login-flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75%;
}

.login-container {
	flex-direction: column;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	background-color: rgb(255,255,255,0.8);
	border: solid 1px silver;
}

.login-img-logo {
	width: 100%;
}

.login-input-container-center {
	display: flex;
	justify-content: center;
}

.login-inputs {
	width:75%;
	display: flex;
	flex-direction: column;
}

.login-button-container-center {
	display: flex;
	justify-content: center;
}

.login-buttons {
	width:75%;
	display: flex;
	flex-direction: column;
}

.login-flex-forgotten-password {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.login-flex-forgotten-password > a {
	color: grey;
	font-size: 13px;
	text-decoration: none;
}

.login-flex-forgotten-password > a:link:hover {
	text-decoration: underline;
}

.login-container > input, 
	input[type=text],
	input[type=password] {
    padding:10px; 
    border: 1px solid #bf00ff; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 5px 1px 3px 0px;
    text-align: center;
    outline: none;
    -webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	-ms-transition: all 0.10s ease-in-out;
	-o-transition: all 0.10s ease-in-out;
}


.login-container > button,
	button[type=login] {
    padding:10px; 
    border: 1px solid #bf00ff; 
    -webkit-border-radius: 10px;
    margin: 5px 1px 3px 0px;
    outline: none;
    background-color: #bf00ff;
    color: white;
    -webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	-ms-transition: all 0.10s ease-in-out;
	-o-transition: all 0.10s ease-in-out;
}

.login-container 
	button[type=register] {
    padding:10px; 
    border: 1px solid #0109B5; 
    -webkit-border-radius: 10px;
    margin: 5px 1px 3px 0px;
    outline: none;
    background-color: #0109B5;
    color: white;
    -webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	-ms-transition: all 0.10s ease-in-out;
	-o-transition: all 0.10s ease-in-out;
}

.login-container > button:hover,
	button[type=login]:hover {
	box-shadow: 0 0 5px #bf00ff;
}

.login-container > button:hover,
	button[type=register]:hover {
	box-shadow: 0 0 5px #0109B5;
}

.login-container > input:focus, 
	input:focus {
 	box-shadow: 0 0 5px #bf00ff;
}

@media screen and (max-height: 480px){
	.login-flex-container{
		justify-content: unset;
	}
}

@media screen and (max-width: 750px){
	.login-container {
		width: 330px;
		height: 350px;
	}
}