.body-font-h1 {
	font-size: 24px;
}

.body-font-h2 {
	font-size: 16px;
}

.Main-body-margin-top {
	margin-top: 150px;
}

.container {
	padding: 0;
}


@media (max-width: 1000px){
	.body-font-h1 {
	  	font-size: 2vw;
	}	

	.body-font-h2 {
		font-size: 1.5vw;
	}
}

@media (max-height: 720px){
	.body-margin-top {
	  	margin-top: 100px;
	}	
}
