.header-container {
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
}

.header {
	border-style: solid;
  	width: 1000px;
  	margin: 0 auto;
}

.MainHeader-logo-container {
	width: 200px;
}

@media (max-height: 400px){
	.MainHeader-logo-container {
	  	width: 150px;
	}	
}