.header-container {
	height: 80px;
	width: 100%;
	/*border-style: solid;
  	border-width: 5px; 	
	*/
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
}

.header {
	/*border-style: solid;
  	border-width: 5px;
  	border-color: red;*/
  	width: 1000px;
  	height: 90px;
  	margin: 0 auto;
}